In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython-sql) (7.22.0)',
 'Collecting prettytable<1',
 '  Downloading prettytable-0.7.2.zip (28 kB)',
 'Requirement already satisfied: six in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython-sql) (1.15.0)',
 'Collecting sqlparse',
 '  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython-sql) (1.4.7)',
 'Requirement already satisfied: decorator in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)',
 'Requirement already satisfied: backcall in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: colorama in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)',
 'Requirement already satisfied: pickleshare in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: pygments in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)',
 'Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: wcwidth in c:\\users\\hp\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\hp\\anaconda3\\lib\\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)',
 'Building wheels for collected packages: prettytable',
 '  Building wheel for prettytable (setup.py): started',
 "  Building wheel for prettytable (setup.py): finished with status 'done'",
 '  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=81ecff04b0e07fb9f87c86999bf5cae3c42c045a4a6feffebda9e59339897fb8',
 '  Stored in directory: c:\\users\\hp\\appdata\\local\\pip\\cache\\wheels\\48\\6d\\77\\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68',
 'Successfully built prettytable',
 'Installing collected packages: sqlparse, prettytable, ipython-sql',
 'Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1']

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ali.db

In [3]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///ali.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [5]:
%%sql
CREATE TABLE yeni_tablo(adi varchar(20),
                       soyadi varchar(20));

 * sqlite:///ali.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [10]:
%%sql
INSERT INTO yeni_tablo values("Ali Can","DONBALOGLU")

 * sqlite:///ali.db
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [12]:
%%sql
SELECT * FROM yeni_tablo

 * sqlite:///ali.db
Done.

[('Ali Can', 'DONBALOGLU')]

In [13]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND City = 'Eugene' OR City = 'Elgin';

 * sqlite:///ali.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [14]:
%%sql
SELECT * FROM Customers WHERE CustomerID IN (1,3,5,7);

 * sqlite:///ali.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')]

In [15]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE 'a%'LIMIT 10;

 * sqlite:///ali.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')]

In [16]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE 'A%'LIMIT 10;

 * sqlite:///ali.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')]

In [21]:
import sqlite3
import pandas as pd

In [18]:
conn = sqlite3.connect('ali.db')

In [19]:
c = conn.cursor()

In [22]:
ab = pd.read_sql("""SELECT 
COUNT(CustomerID) AS MUSTERI_SAYISI, Country 
FROM 
Customers 
GROUP BY Country;""", conn)

In [23]:
ab

    MUSTERI_SAYISI      Country
0                3    Argentina
1                2      Austria
2                2      Belgium
3                9       Brazil
4                3       Canada
5                2      Denmark
6                2      Finland
7               11       France
8               11      Germany
9                1      Ireland
10               3        Italy
11               5       Mexico
12               1       Norway
13               1       Poland
14               2     Portugal
15               5        Spain
16               2       Sweden
17               2  Switzerland
18               7           UK
19              13          USA
20               4    Venezuela