# Temel String İşlemleri

## Oluşturma Biçimlendirme

In [ ]:
isim = "mvk"

In [ ]:
3 * isim

In [ ]:
"mvk" + "ali"

In [ ]:
"K" + isim[1:]

In [ ]:
isimler =  ["ali","veli","ayse"]

In [ ]:
for i in isimler:
    print("İsim:",i, sep = "")

In [ ]:
for i in isimler:
    print("_", i[0:], sep = "")

In [ ]:
print(*enumerate(isimler))

In [ ]:
for i in enumerate(isimler):
    print(i)

In [ ]:
for i in enumerate("isimler"):
    print(i)

In [ ]:
for i in enumerate(isimler,4):
    print(i)

## Dizi İçi Tip Sorgulamaları

In [ ]:
"mvk".isalpha()

In [ ]:
"mvk30".isalpha()

In [ ]:
"123".isnumeric()

In [ ]:
"123".isdigit()

In [ ]:
"mvk30".isalnum()

## Elemanlarına ve Eleman Indexlerine Erişmek

In [ ]:
isim = "mustafavahitkeskin"

In [ ]:
isim

In [ ]:
isim[0:2]

In [ ]:
isim.index("n")

In [ ]:
isim.index("a")

In [ ]:
isim.index("a",5)

## Başlangıç ve Bitiş Karakterlerini Sorgulamak: startswith() & endswith()

In [ ]:
isim = "Mustafa Vahit Keskin"

In [ ]:
isim.startswith("a")
isim.startswith("m")
isim.startswith("M")
isim.endswith("n")

In [ ]:
#count

In [ ]:
isim.count("a")

In [ ]:
#sorted

In [ ]:
sorted("defter")

In [ ]:
print(*sorted("defter"), sep = "")

## Karakterleri Bölmek

In [ ]:
isim = "Mustafa Vahit Keskin"

In [ ]:
isim.split()

In [ ]:
isim.split(",")

In [ ]:
isim = "Mustafa_Vahit_Keskin"

In [ ]:
isim.split("_")

## Büyük Küçük Harf İşlemleri

In [ ]:
isim = "Mustafa Vahit Keskin"

In [ ]:
isim.upper()

In [ ]:
isim.lower()

In [ ]:
isim.upper().lower()

In [ ]:
isim_b = isim.upper()

In [ ]:
isim_b.islower()

In [ ]:
isim_b.isupper()

## capitalize() & title() & swapcase()

In [ ]:
isim = "mustafa vahit keskin"

In [ ]:
isim.capitalize()

In [ ]:
isim.title()

In [ ]:
isim.swapcase()

In [ ]:
isim = "MUSTAFA vahit KESKIN"

In [ ]:
isim.swapcase()

## İstenmeyen Karakterleri Kırpmak: strip(), lstrip(), rsting()

In [ ]:
isim = " hello "

In [ ]:
isim.strip()

In [ ]:
isim = "*hello*"

In [ ]:
isim.strip("*")

In [ ]:
isim = "lhellol"

In [ ]:
isim.strip("l")

In [ ]:
isim = "*hello*"

In [ ]:
isim.rstrip("*")

In [ ]:
isim.lstrip("*")

## join: bölünmüş ya da zaten bölük olan ifadelerin birleştirilmesi

In [1]:
isim = "Mustafa Vahit Keskin"

In [2]:
ayrik = isim.split()

In [3]:
ayrik

['Mustafa', 'Vahit', 'Keskin']

In [4]:
joiner = " "

In [5]:
joiner.join(ayrik)

'Mustafa Vahit Keskin'

In [ ]:
joiner = "*****"

In [ ]:
joiner.join(ayrik)

## Eleman Değiştirme: replace(), str.maketrans(), translate()

In [ ]:
isim

In [ ]:
isim.replace("V","c")

In [ ]:
isim.replace("ca","Va")

In [ ]:
ifade = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [ ]:
duzeltilecek_harfler = "çÇğĞıİöÖşŞüÜ"
duzeltilmis_harfler = "cCgGiIoOsSuU"

In [ ]:
alfabe_duzeltme = str.maketrans(duzeltilecek_harfler, duzeltilmis_harfler)

In [ ]:
ifade.translate(alfabe_duzeltme)

## contains

In [ ]:
import pandas as pd
isimler = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(isimler)

In [ ]:
v

In [ ]:
v.str.contains("al")

In [ ]:
v[v.str.contains("al")]

In [ ]:
v.str.contains("al").sum()

In [ ]:
v.str.contains("[aA]li").sum()

# Metin Madenciliği ve Doğal Dil İşleme Giriş

## Metin Ön İşleme

In [ ]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

### string'i df/array/seriye çevirmek

In [ ]:
metin.split()

In [ ]:
metin.split("\n")

In [ ]:
v_metin = metin.split("\n")

In [ ]:
v = pd.Series(v_metin)

In [ ]:
v

In [ ]:
metin_vektoru = v[1:len(v)]

In [ ]:
metin_vektoru

In [ ]:
mdf = pd.DataFrame(metin_vektoru, columns = ["hikayeler"])

In [ ]:
mdf

## Büyük-Küçük harf

In [ ]:
d_mdf = mdf.copy()

In [ ]:
d_mdf

In [ ]:
list1 = [1,2,3]

In [ ]:
str1 = "".join(str(i) for i in list1)

In [ ]:
str1

In [ ]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [ ]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [ ]:
d_mdf

## Noktalama İşaretlerinin Silinmesi

In [ ]:
d_mdf

In [ ]:
type(d_mdf)

In [ ]:
#d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [ ]:
d_mdf = d_mdf.str.replace("[^\w\s]","")

In [ ]:
d_mdf

## Sayıların Silinmesi

In [ ]:
d_mdf = d_mdf.str.replace("\d","")

In [ ]:
d_mdf

## Stopwords

In [ ]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [ ]:
!pip install nltk

In [ ]:
import nltk

In [ ]:
nltk.download("stopwords")

In [ ]:
from nltk.corpus import stopwords

In [ ]:
sw = stopwords.words("english")

In [ ]:
sw

In [ ]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [ ]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [ ]:
d_mdf

## Az Geçen Kelimelerin Silinmesi

In [ ]:
type(d_mdf)

In [ ]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [ ]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

In [ ]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [ ]:
sil

In [ ]:
d_mdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))

## Tokenization

In [ ]:
nltk.download("punkt")

In [ ]:
!pip install textblob

In [ ]:
import textblob

In [ ]:
from textblob import TextBlob

In [ ]:
TextBlob(d_mdf["hikayeler"][1]).words

In [ ]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

## Stemming

In [ ]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [ ]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

## Lemmatization

In [ ]:
from textblob import Word
nltk.download("wordnet")

In [ ]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [ ]:
mdf["hikayeler"][0:5]

In [ ]:
d_mdf["hikayeler"][0:5]

# NLP Uygulamaları

## N-Gram

In [ ]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [ ]:
TextBlob(a).ngrams(3)

## Part of speech tagging (POS)

In [ ]:
nltk.download("averaged_perceptron_tagger")

In [ ]:
TextBlob(d_mdf["hikayeler"][2]).tags

In [ ]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

## Chunking (shallow parsing)

In [ ]:
pos = d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [ ]:
pos

In [ ]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [ ]:
pos = TextBlob(cumle).tags

In [ ]:
pos

In [ ]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [ ]:
sonuclar = rp.parse(pos)

In [ ]:
sonuclar

In [ ]:
print(sonuclar)

In [ ]:
sonuclar.draw()

## Named Entity Recognition

In [ ]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

In [ ]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [ ]:
o_df = d_mdf.copy()

In [ ]:
o_df["hikayeler"]

In [ ]:
o_df["hikayeler"].str.len()

In [ ]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [ ]:
o_df

## Kelime Sayısı

In [ ]:
a = "scandal in a bohemia"

In [ ]:
a.split()

In [ ]:
len(a.split())

In [ ]:
o_df.iloc[0:1,0:1]

In [ ]:
o_df["kelime_sayisi"] = o_df["hikayeler"].apply(lambda x:len(str(x).split(" ")))

In [ ]:
o_df

## Özel Karakterleri Yakalamak & Saydırmak

In [ ]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

In [ ]:
o_df["ozel_karakter_sayisi"] = o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

In [ ]:
o_df

## Sayıları Yakalamak & Saydırmak

In [ ]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [ ]:
o_df["sayi_sayisi"] = mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [ ]:
o_df

# Metin Görselleştirme

In [1]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [2]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [4]:
#buyuk-kucuk donusumu
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [6]:
#noktalama işaretleri
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

<ipython-input-6-9cb120b0a028>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [7]:
#sayılar
data['Phrase'] = data['Phrase'].str.replace('\d','')

<ipython-input-7-0f2e28d4e6cf>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('\d','')

In [8]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [9]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [11]:
#lemmi
from textblob import Word
nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

ModuleNotFoundError: No module named 'textblob'

In [12]:
data['Phrase'].head(10)

0    series escapades demonstrating adage good goos...
1      series escapades demonstrating adage good goose
2                                               series
3
4                                               series
5             escapades demonstrating adage good goose
6
7             escapades demonstrating adage good goose
8                                            escapades
9                       demonstrating adage good goose
Name: Phrase, dtype: object

## Terim Frekansı

In [ ]:
tf1 = (data["Phrase"]).apply(lambda x: 
                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [ ]:
tf1.columns = ["words","tf"]

In [ ]:
tf1.head()

In [ ]:
tf1.info()

In [ ]:
tf1.nunique()

## barplot

In [ ]:
a = tf1[tf1["tf"] > 1000]

In [ ]:
a.plot.bar(x = "words", y = "tf");

## Wordcloud

In [ ]:
!pip install wordcloud

In [ ]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
text = data["Phrase"][0]

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud = WordCloud(max_font_size = 50,
                     max_words = 100, 
                     background_color = "white").generate(text)
plt.figure()
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud.to_file("kelime_bulutu.png");

In [ ]:
#tum metin

In [ ]:
text = " ".join(i for i in data.Phrase)

In [ ]:
text

In [ ]:
wordcloud = WordCloud(max_font_size = 50, 
                     background_color = "white").generate(text)
plt.figure(figsize = [10,10])
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
?wordcloud

## Şablonlara Göre Word Cloud

In [ ]:
vbo_mask = np.array(Image.open("tr.png"))

In [ ]:
vbo_mask

In [ ]:
wc = WordCloud(background_color = "white",
                     max_words = 1000, 
                     mask = vbo_mask, 
                     contour_width = 3,
                     contour_color = "firebrick")

wc.generate(text)

wc.to_file("vbo.png")

plt.figure(figsize = [10,10])
plt.imshow(wc, interpolation = "bilinear")
plt.axis("off")
plt.show()

# Sentiment Analizi ve Sınıflandırma Modelleri

In [1]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

ModuleNotFoundError: No module named 'textblob'

In [17]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [18]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [19]:
data["Sentiment"].replace([0,1], value = "negatif", inplace = True)
#data["Sentiment"].replace(1, value = "negatif", inplace = True)

In [20]:
data["Sentiment"].replace([3,4], value = "pozitif", inplace = True)
#data["Sentiment"].replace(4, value = "pozitif", inplace = True)

In [21]:
data.head(20)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2
10,11,1,demonstrating the adage,2
11,12,1,demonstrating,2
12,13,1,the adage,2
13,14,1,the,2
14,15,1,adage,2
15,16,1,that what is good for the goose,2
16,17,1,that,2
17,18,1,what is good for the goose,2
18,19,1,what,2
19,20,1,is good for the goose,2

In [22]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [23]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
21,22,1,good for the goose,pozitif
22,23,1,good,pozitif
33,34,1,"the gander , some of which occasionally amuses...",negatif
46,47,1,amuses,pozitif

In [24]:
data.groupby("Sentiment").count()

           PhraseId  SentenceId  Phrase
Sentiment
negatif       34345       34345   34345
pozitif       42133       42133   42133

In [25]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [26]:
df.head()

                                                 text    label
0   A series of escapades demonstrating the adage ...  negatif
21                                 good for the goose  pozitif
22                                               good  pozitif
33  the gander , some of which occasionally amuses...  negatif
46                                             amuses  pozitif

## Metin Ön İşleme

In [27]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

<ipython-input-27-6feb804d9a58>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[^\w\s]','')
<ipython-input-27-6feb804d9a58>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\d','')

ModuleNotFoundError: No module named 'textblob'

## Değişken Mühendisliği

* Count Vectors
* TF-IDF Vectors (words, characters, n-grams)
* Word Embeddings

TF(t) = (Bir t teriminin bir dökümanda gözlenme frekansı) / (dökümandaki toplam terim sayısı) 

IDF(t) = log_e(Toplam döküman sayısı / içinde t terimi olan belge sayısı)

In [28]:
df.head()

                                                 text    label
0   series demonstrating adage good goose also goo...  negatif
21                                         good goose  pozitif
22                                               good  pozitif
33  gander occasionally amuses none amounts much s...  negatif
46                                             amuses  pozitif

In [29]:
df.iloc[0]

text     series demonstrating adage good goose also goo...
label                                              negatif
Name: 0, dtype: object

## Test-Train

In [31]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics

In [32]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df["text"],
                                                                   df["label"], 
                                                                    random_state = 1)

In [33]:
train_y[0:5]

118788    pozitif
89514     negatif
86857     pozitif
140626    negatif
153243    pozitif
Name: label, dtype: object

In [34]:
encoder = preprocessing.LabelEncoder()

In [36]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [37]:
train_y[0:5]

array([1, 0, 1, 0, 1])

In [38]:
test_y[0:5]

array([1, 0, 1, 0, 0])

### Count Vectors

In [ ]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

In [ ]:
x_train_count = vectorizer.transform(train_x)
x_test_count = vectorizer.transform(test_x)

In [ ]:
x_train_count.head()

In [ ]:
vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_count.toarray()

### TF-IDF

In [ ]:
#wordlevel

In [ ]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

In [ ]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_tf_idf_word.toarray()

In [ ]:
# ngram level tf-idf

In [ ]:
tf_idf_ngram_vectorizer = TfidfVectorizer(ngram_range = (2,3))
tf_idf_ngram_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(train_x)
x_test_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(test_x)

In [ ]:
# characters level tf-idf

In [ ]:
tf_idf_chars_vectorizer = TfidfVectorizer(analyzer = "char", ngram_range = (2,3))
tf_idf_chars_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_chars = tf_idf_chars_vectorizer.transform(train_x)
x_test_tf_idf_chars = tf_idf_chars_vectorizer.transform(test_x)

# Makine Öğrenmesi ile Sentiment Sınıflandırması

## Lojistik Regresyon

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_count, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Naive Bayes

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Random Forests

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## XGBoost

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

In [ ]:
loj_model

In [ ]:
loj_model.predict("yes i like this film")

In [ ]:
yeni_yorum = pd.Series("this film is very nice and good i like it")

yeni_yorum = pd.Series("no not good look at that shit very bad")

In [ ]:
v = CountVectorizer()
v.fit(train_x)
yeni_yorum = v.transform(yeni_yorum)

In [ ]:
loj_model.predict(yeni_yorum)